body{
	font-style:'Bold';
	 font-family: 'Lucida Calligraphy';font-size: 17px;
}


.card-body{
	-webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;
}
.card-body:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}



.carousel-caption{
	top: 40%;
}



.card-img-top{
	width: 360px;
	height: 200px;
}


