
  		<!--- Restaurant-->

  		<div class="container" style="background-color: antiquewhite">
  		 		 	<h2 class="text-center demo1" >~ Restaurant Details~</h2>

    			<div class="row bg-light" >
    				<div class="col-md-6 card-body">
    					<h3>Location</h3>
    					<p>Welcome to Aqua. We are the First authentic Indialn restaurant in Nadiad, serving delicious Indian cuisine cooked by the best chefs. It only takes a few minutes to browse through our website and check out our menu. We hope you'll soon join us for a superb Indian culinary experience.</p>
    					<h5>A Unique Experience</h5>
    					<p>Located near pharmacy college. We are the last authentic Indian restaurant in Nadiad, serving delicious Indian cuisine cooked by the best chefs. It only takes a few minutes to browse through our website and check out our menu. We hope you'll soon join us for a superb Indian culinary experience.</p>
    				</div>
    				<div class="col-md-6 card-body">
    					<img src="../../../assets/location.jpg" style="width:500px;">
    				</div>
    			</div>
    			<div class="row bg-light">
    				<div class="col-md-6 card-body">
  						<br>
    					<img src="../../../assets/cuisine.jpg" style="width:500px;">
    				</div>
    				<div class="col-md-6 card-body ">
    					<h3>Our Other Branches</h3>
    					<p>The new life restaurant.We serve the best multicuisine menu .Located near vaniyawad</p>
    					<h5>A Unique Experience</h5>
    					<p>Thanks for stopping by. We are the last authentic Indian restaurant in Nadiad, serving delicious Indian cuisine cooked by the best chefs. It only takes a few minutes to browse through our website and check out our menu. We hope you'll soon join us for a superb Indian culinary experience.</p>
    				</div>
    			</div>
   		</div>
    			<!--- End of Restaurant -->

  <div class="container card-body">
  		<div class="row">
  			<div class="col">
  				<h2 class="text-center demo1" ></h2>
  			</div>
  		</div>
  		<div class="row bg-light">

  				<div class="col-md-4">
  					<div class="card">
    						<img class="card-img-top img-fluid " src="../../../assets/download1.jpg">
  					  	<div class="card-body">
  					  		<h5 class="card-title">~ Spicy Menu ~</h5>
  					    	<ul class="list-group list-group-flush">
  							    <li class="list-group-item">chilly Paneer</li>
  							    <li class="list-group-item">Red paprika Pizza</li>
  							 	<li class="list-group-item">Burger</li>
  							</ul>
  					  	</div>
  					</div>
  				</div>
  				<div class="col-md-4">
  					<div class="card">
    						<img class="card-img-top img-fluid " src="../../../assets/download2.jpg">
  					  	<div class="card-body">
  					  		<h5 class="card-title">~ Dessert Menu ~</h5>
  					    	<ul class="list-group list-group-flush">
  							    <li class="list-group-item">Choco Brownie</li>
  							    <li class="list-group-item">Ice cream sandwich</li>
  							 	<li class="list-group-item">Vanilla Custard</li>
  							</ul>
  					  	</div>
  					</div>
  				</div>
  				<div class="col-md-4">
  					<div class="card">
    						<img class="card-img-top img-fluid" src="../../../assets/menu-vegetarian.jpg">
  					  	<div class="card-body">
  					  		<h5 class="card-title">~ Healthier Alternatives ~</h5>
  					    	<ul class="list-group list-group-flush">
  							    <li class="list-group-item">Parmigiana di melanzane</li>
  							    <li class="list-group-item">Strudel con ricotta e spinaci</li>
  							 	<li class="list-group-item">Polpette di spinaci e ricotta</li>
  							</ul>
  					  	</div>
  					</div>
  				</div>
  		</div>
  </div>