<div style="background-image:url(../../../assets/img2.jpg);">
 
 
  <br><br><br><br>
  <div class="container-fluid demo-1">
    <div class="content">
      <div id="large-header" class="large-header">
        <canvas id="demo-canvas"></canvas>
        <section id="services" style="z-index:9999;">
          <div class="container-fluid sectext">
              <div class="row text-center">
                  <div class="col-md-6 col-md-offset-3 pad-bottom" data-scroll-reveal="enter from the bottom after 0.2s">
                  <pre style="visibility:hidden;">

                  </pre>								

      
                  </div>
              </div>
              <div class="row text-center pad-bottom" data-scroll-reveal="enter from the bottom after 0.4s">
                  <div class="col-md-3">
                      <i class="ion-ios-cloud-outline"></i>
                      <h4><strong>WEATHER</strong></h4>
                      GET THE LATEST UPDATES ON WEATHER
                  </div>
                  <div class="col-md-3">
                      <i class="ion-card"></i>
                      <h4><strong>BIOMETRIC</strong></h4>
                      VISIT YOUR NEAREST AADHAR CENTER 
                  </div>
                  <div class="col-md-3">
                      <i class="ion-speedometer"></i>
                      <h4><strong>CAR SERVICE</strong></h4>
                     FIND THE BEST MEHCHANIC NEAR YOU 
                  </div>
                  <div class="col-md-3">
                      <i class="ion-ios-settings"></i>
                      <h4><strong>MUSIC</strong></h4>
                      VIEW OUR COLLECTION OF MUSIC MADE LOCALLY
                  </div>
              </div>
              <div class="row text-center" data-scroll-reveal="enter from the bottom after 0.6s">
                  <div class="col-md-3">
                      <i class="ion-ios-chatboxes-outline"></i>
                      <h4><strong>CONTACT COMMUNITY</strong></h4>
                      CONTACT THE COMMUNITY TO BE UPDATED
                  </div>
                  <div class="col-md-3">
                      <i class="ion-ios-pulse-strong"></i>
                      <h4><strong>HOSPITALS</strong></h4>
                      VIEW HOSPITALS NEAR YOU
                  </div>
                  <div class="col-md-3">
                      <i class="ion-ios-browsers-outline"></i>
                      <h4><strong>OTHER SERVICES</strong></h4>
                      VIEW OTHER SERVICES WE OFFER
                  </div>
                  <div class="col-md-3">
                      <i class="ion-ios-people-outline"></i>
                      <h4><strong>FEEDBACK </strong></h4>
                      PROVIDE US WITH YOUR VALUABLE FEEDBACK
                  </div>
              </div>
          </div>
      
      
      </section>
        
      </div>


